{% extends "layout.html" %}
{% block content %}
<head>        
    <title>fineai test</title>        
</head>
<body>

    <table>
        <thead>                
            <tr>
                {% for k in keys %}
                <th>{{ k }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for model in models %}
            <tr>
                {% for k in keys %}
                    {% if k == 'id' %}
                    <td><a href="/model/{{ model[k] }}">{{ model[k] }}</a> </td>
                    {% else %}
                    <td> {{ model[k] }} </td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}