{% extends "components/layout.html" %}
{% block content %}
<head>        
    <title>jobs</title>
    <script>
        function consume(typ){
            let jobs = []
            let inputs = document.querySelectorAll("input[type='checkbox']:checked").forEach(
                el => {
                    let tr = el.closest('tr')
                    let job_id = tr.querySelector('td:nth-child(2)').innerText
                    let job_kind = tr.querySelector('td:nth-child(4)').innerText
                    jobs.push({
                        "job_id": job_id,
                        "job_kind": job_kind,
                    })
                }
            )
            data = {
                'jobs': jobs,
            }
            if (typ === 1){
                data['type'] = 'fail'
            } else if (typ === 2){
                data['type'] = 'force'
            } else if (typ === 3){
                data['type'] = 'suspend'
            } else {
                data['type'] = 'delete'
            }

            fetch("/mq/consume", {
                method: "POST",
                headers: {'Content-Type': 'application/json'}, 
                body: JSON.stringify(data)
            }).then(res => res.text())
            .then(txt => console.log(txt))
            .catch(err => console.log(`error: ${err}`));
            }
        function checkAll(){
            document.querySelectorAll("input[type='checkbox']:not([disabled]):not(:checked)").forEach(
                el => el.click()
            )
        }
    </script>
</head>


<h3>jobs</h3>
<div>
    <div style="padding: 10px; float:left">
        <button onclick="checkAll()">select all</button>
        <button onclick="consume()">consume & drop job(s)</button>
        <button onclick="consume(1)">consume & fail job(s)</button>
        <button onclick="consume(2)">publish failed message</button>
        <button onclick="consume(3)">publish processing message</button>
    </div>
    {% include 'components/pagination.html' %}
</div>
<table>
    <thead class="sticky">                
        <tr>
            <th></th>
            {% for k in keys %}
            <th>{{ k }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr class="{{ 'deleted' if job['is_delete'] == True}}">
            <td><input {{ 'disabled' if job['job_kind'] not in ('lora_train', 'img2img')}} type="checkbox"></td>
            {% for k in keys %}
                {% if k == 'id' %}
                <td><a href="/model/{{ job['user_model_id'] }}/{{ job['job_kind'] }}/{{ job[k] }}">{{ job[k] }}</a> </td>
                {% elif k == 'status' %}
                <td class="{{ job[k] }}">{{ job[k] }}</td>
                {% elif k in ('params', 'result') %}
                <td class="text2long">{{ job[k]|tojson }}</td>
                {% else %}
                <td>{{ job[k] }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
<div style="display: inline-block;"></div>
{% include 'components/pagination.html' %}
</div>

{% endblock %}