{% extends "layout.html" %}
{% block content %}
<h3>
    <div>status: {{ status }}</div> 
    {% if message %}
    <div>message: {{ message }}</div>
    {% endif %}
</h3>
<table>
    <thead class="sticky">                
        <tr>
            <th></th>
            <th>uploaded</th>
            <th>trained</th>
            <th>txt</th>
        </tr>
    </thead>
    <tbody>
        {% for image in images %}                
        <tr>                                
            <td>{{ image['no'] }}</td>
            <td><img src="{{ image['url'] }}" onclick="zoomImage(this)"></td>
            <td><img src="{{ image['trained_url'] }}" onclick="zoomImage(this)"></td>    
            <td style="max-width:1000px;word-wrap:break-word">{{ image['txt'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}