{% extends "components/layout.html" %}
{% block content %}
{% include "components/model.html" %}
{% include "components/job.html" %}
<head>
    <title>face detection</title>
</head>
<h3>face detection</h3>
<table>
    <thead class="sticky">
        <tr>
            {% for key in image_keys + job_keys %}
            <th>{{ key }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for image in images %}
        <tr class="{{ ['face_detection' if image['image_type'] == 'face_detection','deleted' if image['is_delete'] == True]|join(' ') }}">
            {% for key in  image_keys + job_keys %}
                {% if key in ("url", "uploaded", "trained", "output") %}
                <td><img src="{{ image[key] }}" onclick="zoomImage(this)"></td>
                {% elif key == "job_id" %}
                <td><a href="/model/{{ model['id'] }}/{{ image['image_type'] }}/{{ image[key] }}">{{ image[key] }}</a></td>
                {% elif key == "id" %}
                <td id="{{ image[key] }}"><a href="#{{ image[key] }}">{{ image[key] }}</a></td>
                {% elif key == "status" %}
                <td class="{{ image[key] }}">{{ image[key] }}</td>
                {% elif key == "success" %}
                <td class="{{ image[key] }}">{{ image[key] }}</td>
                {% else %}
                <td>{{ image[key] }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}