{% extends "layout.html" %}
{% block content %}
<table>
    <thead>
        <tr>
            {% for k in model %}
            <td>{{k}}</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for k in model %}
            <td>{{ model[k] }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>

<table>
    <thead>                
        <tr>
            {% for k in job_keys %}
            <th>{{ k }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            {% for k in job_keys %}
                {% if k == "id" and job["job_kind"] in ("lora_train", "dataset_verify", "face_detection") %}
                <td><a href="/model/{{ model['id'] }}/{{ job['job_kind'] }}/{{ job[k] }}">{{ job[k] }}</a> </td>
                {% else %}
                <td> {{ job[k] }} </td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
