{% extends "components/layout.html" %}
{% block content %}
{% include "components/model.html" %}
{% include "components/job.html" %}
<head>
    <title>face detection</title>
</head>
<h3>face detection</h3>
<table>
    <thead class="sticky">
        <tr>
            {% for key in image_keys + job_keys %}
            <th>{{ key }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for image in images %}
        <tr class="{{ ['face_detection' if image['image_type'] == 'face_detection','deleted' if image['is_delete'] == True]|join(' ') }}">
            {% for key in  image_keys + job_keys %}
                {% if key not in ("url", "uploaded", "trained") %}
                <td class="{{ 'checked' if (key=='status' and image[key] == 'checked') or (key=='success' and image[key] == True) }}">{{ image[key] }}</td>
                {% else %}
                <td><img src="{{ image[key] }}" onclick="zoomImage(this)"></td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}