{% extends "components/layout.html" %}
{% block content %}
{% include "components/model.html" %}
<head>
    <title>jobs</title>
</head>
<h3>jobs</h3>
<table>
    <thead class="sticky">                
        <tr>
            {% for k in job_keys %}
            <th>{{ k }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr class="{{ 'delete' if job['is_delete'] == True }}">
            {% for k in job_keys %}
                {% if k == "id" %}
                <td><a href="/model/{{ model['id'] }}/{{ job['job_kind'] }}/{{ job[k] }}">{{ job[k] }}</a> </td>
                {% else %}
                <td class="{{ job[k] if k=='status' }}">{{ job[k] }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
