{% extends "components/layout.html" %}
{% block content %}
<head>
    <title>对比结果</title>
    <style type="text/css">
        
        .xx {
            width: 100px;
        }
        tr.different {
            background-color: lightsalmon;
        }
        table#job1_list {
            display: inline;
        }
        table#job2_list {
            margin-left: 100px;
            display: inline;
        }        
    </style>
</head>


    <table id="vs_list">
        <thead class="sticky">
            <tr>
                <th colspan="{{keys|length}}">{{ job_id1 }}</th>
                <th class="xx"></th>
                <th colspan="{{keys|length}}">{{ job_id2 }}</th>
            </tr>
            <tr>
                <th>origin:</th>
                <th colspan="{{keys|length - 1}}"><img src="{{ job1_uri }}" onclick="zoomImage(this)"></th>
                <th class="xx"></th>
                <th>origin:</th>
                <th colspan="{{keys|length - 1}}"><img src="{{ job2_uri }}" onclick="zoomImage(this)"></th>
            </tr> 
            <tr>
                {% for key in keys %}
                <th>{{ key }}</th>
                {% endfor %}
                <th></th>
                {% for key in keys %}
                <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for result in vs_list %}
            <tr class="{{ result[2] }}">
                {% for key in keys %}
                <td>{{ result[0][key] }}</td>
                {% endfor %}
                <td class="xx">
                    <img src="{{ result[1]['uri'] }}" onclick="zoomImage(this)">
                </td>
                {% for key in keys %}
                <td>{{ result[1][key] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>  
    </table>
    <br>
    <table id="job1_list">
        <thead>
            <tr><th colspan="{{ keys|length + 1 }}">{{ job_id1 }}</tr></tr>
            <tr>
                {% for key in keys %}
                <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for result in job1_list %}
            <tr>
                {% for key in keys %}
                <td>{{ result[key] }}</td>
                {% endfor %}
                <td>
                    <image src="{{ result['uri'] }}" onclick="zoomImage(this)">
                </td>
            </tr>
            {% endfor %}
        </tbody>            
    </table>
    <table id="job2_list">
        <thead>
            <tr><th colspan="{{ keys|length + 1 }}">{{ job_id2 }}</tr></tr>
            <tr>
                {% for key in keys %}
                <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for result in job2_list %}
            <tr>
                {% for key in keys %}
                <td>{{ result[key] }}</td>
                {% endfor %}
                <td>
                    <image src="{{ result['uri'] }}"  onclick="zoomImage(this)">
                </td>
            </tr>
            {% endfor %}
        </tbody>            
    </table>
{% endblock %}