
<h3>job</h3>
<table>
    <thead>
        <tr>
            {% for k in job %}
            <th>{{k}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for k in job %}
                {% if k == 'user_model_id' %}
                <td><a href="/model/{{job[k]}}/jobs">{{job[k]}}</td>
                {% else %}
                <td class="{{ 'text2long' if k in ('params', 'result') }}">{{ job[k] }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    </tbody>
</table>

